*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.bg{
    position: relative;
    width: 100%;
    height: 100%;
    background: #13002B

}
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav img{
    width: 150px;
    height: 100px;
    
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover{
    color: #FFA301;

}

.detel{
    margin-left: 8%;
    margin-top: 13%;
}

.detel h1{
    font-size: 50px;
    color: whitesmoke;
    margin-bottom: 20px;

}
span{
    color: #FFA301;
}

.detel p{
    color: whitesmoke;
    line-height: 22px;
}

.detel a{
    background: #FFA301;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: inline-block;
    margin: 30px 0px;
    border-radius: 5px;
}

.detel a:hover{
    background-color: rgb(142, 4, 71);
    color: #FFA301;
}

.images img{
    display: block;
    width: 100%;
    height: auto;

}

.images{
    width: 30%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 200px;
}
/*about section start*/

body{
    background-color: #13002B;
}

.about-section .container{
    padding-top: 60px;
    padding-bottom: 70px;
    padding-left: 40px;
    padding-right: 40px;
}

.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.section-title h2{
    font-size: 40px;
    font-weight: 700;
    position: relative;
    color: #f1f0ed;
}

.section-title h2::before{
    height: 4px;
    width: 140px;
    background-color: #FFA301;
    position: absolute;
    top: 100%;
    left: 0;
    content: '';
    border-radius: 100%;
}
.section-title h2::after{
    height: 4px;
    width: 70px;
    background-color: #FFA301;
    position: absolute;
    top: 100%;
    left: 0;
    content: '';
    margin-top: 8px;
    border-radius: 100%;
}

.about-content{
    flex: 0 0 100%;
    max-width: 100%;
}

.about-content h3{
    padding-left: 15px;
    color: #f1f0ed;
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
}

.about-content p{
    padding-left: 15px;
    font-size: 15px;
    line-height: 25px;
    color: rgb(207, 199, 199);
}
/*personal info*/

.per-info h2{
    padding-top: 70px;
    padding-left: 70px;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    color: #f1f0ed;
}

.per-info h2::before{
    height: 3px;
    width: 280px;
    background-color: #FFA301;
    position: absolute;
    top: 100%;
    left: 80px;
    content: '';
    border-radius: 100%;
}
.per-info h2::after{
    height: 2px;
    width: 220px;
    background-color: #FFA301;
    position: absolute;
    top: 100%;
    left: 110px;
    content: '';
    margin-top: 8px;
    border-radius: 100%;
}

.personal-info{
    color: #f1f0ed;
    flex: 0 0 60%;
    max-width: 60%;
    padding-left: 15px;
    margin-top: 20px;
}

.personal-info .info-item{
    flex: 0 0 50%;
    max-width: 50%;
    margin-left: 50%;
}

.personal-info .info-item p{
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0;
    border-bottom: 1px solid #6b6b69;
}

.personal-info .info-item p span{
    font-weight: 400;
    color: #edac3c;
    display: inline-block;
    margin-left: 4px;
}

/* skils section*/

.skils{
    color: #f1f0ed;
    flex: 0 0 60%;
    max-width: 60%;
    padding-left: 15px;
    margin-top: 20px;
}

.skilheading h2{
    padding-top: 100px;
    padding-left: 70px;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    color: #f1f0ed;
}

.skilheading h2::before{
    height: 3px;
    width: 80px;
    background-color: #FFA301;
    position: absolute;
    top: 100%;
    left: 70px;
    content: '';
    border-radius: 100%;
}
.skilheading h2::after{
    height: 2px;
    width: 60px;
    background-color: #FFA301;
    position: absolute;
    top: 100%;
    left: 70px;
    content: '';
    margin-top: 8px;
    border-radius: 100%;
}

.skils .skil-item{
    flex: 0 0 50%;
    max-width: 50%;
    margin-left: 50%;
    margin-bottom: 30px;
}

.skils .skil-item h5{
    line-height: 40px;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}

.skils .skil-item .progress{
    height: 8pz;
    width: 100%;
    background-color: #a0998e;
    border-radius: 4px;
    position: relative; 
}

.skils .skil-item .progress .progress-in{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: #ea9605;
}

/*.skils .skil-item .skil-percent{
    position: absolute;
    right: 0;
    top: -40px;
    font-weight: 400;
    color: #a0998e;
    line-height: 40px;
}*/

/*education section*/

.title{
    padding-top: 70px;
    padding-left: 70px;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    color: #f1f0ed;
}

.title::before{
    height: 3px;
    width: 150px;
    background-color: #FFA301;
    position: absolute;
    top: 100%;
    left: 70px;
    content: '';
    border-radius: 100%;
}
.title::after{
    height: 3px;
    width: 120px;
    background-color: #FFA301;
    position: absolute;
    top: 100%;
    left: 70px;
    content: '';
    margin-top: 8px;
    border-radius: 100%;
} 

.education{
    color: #f1f0ed;
    flex: 0 0 60%;
    max-width: 60%;
    padding-left: 15px;
    margin-top: 20px;
}

.timeline-box{
   /* flex: 0 0 100%;
    max-width: 100%;
    padding-left: 15px;*/

    color: #f1f0ed;
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 15px;
    margin-top: 20px;
}

.timeline{
    flex: 0 0 50%;
    max-width: 50%;
    margin-left: 50%;
    margin-bottom: 30px;

    background-color: #dacfc0;
    padding: 30px 15px;
    border: 1px solid #4e4435;
    border-radius: 10px;
    width: 100%;
    position: relative;
    box-shadow: 0 0 20px #917546;
}

.timeline .timeline-items{
    position: relative;
    padding-left: 25px;
    padding-bottom: 50px;
    
}
.timeline .timeline-items:last-child{
    padding-bottom: 0;
}

.timeline .timeline-items::before{
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: #e8a109;
}

.timeline .circle-dot{
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #ea9605;
}

.timeline .timeline-date{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 12px;
    color: rgb(142, 125, 125);
}

.timeline .timeline-title{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: rgb(86, 76, 76);
}

.timeline .timeline-text{
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: #646146;
}

/*services section start */


.service .container{
    padding-top: 60px;
    padding-bottom: 70px;
    padding-left: 40px;
    padding-right: 40px;
}

.sections-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.sections-title h2{
    font-size: 40px;
    font-weight: 700;
    position: relative;
    color: #f1f0ed;
}

.sections-title h2::before{
    height: 4px;
    width: 140px;
    background-color: #FFA301;
    position: absolute;
    top: 100%;
    left: 0;
    content: '';
    border-radius: 100%;
}
.sections-title h2::after{
    height: 3px;
    width: 100px;
    background-color: #FFA301;
    position: absolute;
    top: 100%;
    left: 0;
    content: '';
    margin-top: 8px;
    border-radius: 100%;
}

.service .service-item{
    margin-bottom: 30px;
    padding-left: 220px;
    color: #f1f0ed;
    flex: 0 0 60%;
    max-width: 60%;
}

.service .service-item .service-item-inner{
    background-color: #f3f0ee;
    border: 1px solid #8f8473;
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.35 ease;
}

.service .service-item .service-item-inner:hover{
    box-shadow: 0 0 20px rgb(221, 212, 212);
}

.service .service-item .service-item-inner .icon{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    transition: all 0.3s ease;
    /*background-color: #ea9605;*/
}

.service .service-item .service-item-inner .icon .fa{
    font-size: 40px;
    line-height: 60px;
    color: #ea9605;
}

.service .service-item .service-item-inner:hover .icon{
    background-color: #ea9605;
}

.service .service-item .service-item-inner:hover .icon .fa{
    font-size: 25px;
    color: aliceblue;
}

.service .service-item .service-item-inner h4{
    font-size: 18px;
    margin-bottom: 15px;
    color: #1f093b;
    font-weight: 700;
    text-transform: capitalize;
}

.service .service-item .service-item-inner p{
    font-size: 16px;
    color: rgb(13, 27, 27);
    line-height: 25px;
}

/*portfolio section start*/

.portfolio .container{
    padding-top: 60px;
    padding-bottom: 70px;
    padding-left: 40px;
    padding-right: 40px;
}

.portfolio .portfolio-heading{
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 100px;
    margin-bottom: 40px;
}

.portfolio .portfolio-heading h2{
    font-weight: 500;
    color: #dacfc0;
}

.portfolio .portfolio-item
{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
}

.portfolio .portfolio-item-inner{
    border: 6px solid rgb(243, 238, 238);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.portfolio .portfolio-item-inner .portfolio-img img{
    width: 100%;
    display: block;
    
}

/*contact section start*/

.contact .container{
    padding-top: 60px;
    padding-bottom: 70px;
    padding-left: 40px;
    padding-right: 40px;
}

.contact-title{
    color: #FFA301;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

.contact-sub-title{
    color: #e5e1da;
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
}

.contact .contact-info-item{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    
}

.contact .contact-info-item .icon{
    display: inline-block;
}

.contact .contact-info-item .icon .fa{
    font-size: 25px;
    color: #ea9605;
}

.contact .contact-info-item h4{
    font-size: 18px;
    font-weight: 700;
    color: #dacfc0;
    text-transform: capitalize;
    margin: 15px 0 5px;
}

.contact .contact-info-item p{
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #dacfc0;
}

.contacts-title{
    color: #FFA301;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 80px;
}